<div class="con">
  <div class="image-section">
    <img src="assets/images/ac.jpg" alt="Product Image">
    <div class="bank-details">
      <div class="card">
        <img src="assets/images/ac.jpg" alt="Product Image">
      </div>
      <div class="card">
        <img src="assets/images/ac.jpg" alt="Product Image">
      </div>
      <div class="card">
        <img src="assets/images/ac.jpg" alt="Product Image">
      </div>
    </div>
  </div>
  <div class="content-section">
    <p>LG AI Convertible 6-in-1 Cooling 2023 Model 1.5 Ton 3 Star Split AI Dual Inverter 2 Way Swing, HD Filter with Anti-Virus Protection AC - White (RS-Q19ENXE, Copper Condenser)</p>
    <div class="ratings">
      <p class="ratings-count">4.14,516 Ratings & 438 Reviews</p>
      <p class="discount">Extra ₹1000 off</p>
      <p class="price">₹36,990₹68,990<span class="discount-percentage">46% off</span></p>
    </div>
    <div class="offers">
      <h3 class="offers-title">Available offers</h3>
      <ul class="offers-list">
        <li>Flat ₹1250 Discount on HDFC Bank Credit Card EMI Transactions on orders of ₹15,000 and above<span class="offer-tc">T&C</span></li>
        <li>10% off on Citi Credit Card EMI Transactions, up to ₹2,000 on orders of ₹5,000 and above<span class="offer-tc">T&C</span></li>
        <li>Flat ₹4000 Discount on HDFC Bank Credit Card EMI Transactions on orders of ₹50,000 and above<span class="offer-tc">T&C</span></li>
        <li>Sign up for Flipkart Pay Later and get Flipkart Gift Card worth up to ₹500<span class="offer-tc">*Know More</span></li>
      </ul>
      <div class="c">
        <div class="content-section">
          <h2>Zip Production Plan</h2>
          <hr class="horizontal-line">
          <p>92% positive ratings from 100K+ customers</p>
          <br>
          <p>LG DUALCOOL AC with Super Convertible 5-in-1 Cooling Control, you can not only save a lot of energy by stepping down the cooling capacity from 100% to 80%, 60% or 40%, but even increase the cooling capacity to 110.<span><a>Know more*</a></span></p>
          <div class="radio-buttons">
            <label>
              <div class="taine">
              <input type="radio" name="content-option" value="option1" checked>
                <div class="section"><span> 1 year extened waranty</span></div>
                <div class="section actual-price">₹68,990</div>
                <div class="section offer-price">₹36,990</div>
              </div>
            </label>
            <label>
              <div class="taine">
              <input type="radio" name="content-option" value="option1" checked>
                <div class="section"><span> 2 year extened waranty</span></div>
                <div class="section actual-price">₹168,990</div>
                <div class="section offer-price">₹96,990</div>
              </div>
            </label>
            <label>
              <div class="taine">
              <input type="radio" name="content-option" value="option1" checked>
                <div class="section"><span> 3 year extened waranty</span></div>
                <div class="section actual-price">₹368,990</div>
                <div class="section offer-price">₹85,990</div>
              </div>
            </label>
            <div class="buttons">
              <button class="btn">Buy Now</button>
              <button class="btn">Add to Cart</button>
            </div>
            <br>
            <h2>Extra Savings(6 offers)</h2>
            <hr class="horizontal-line">

            <div class="container">
              <div class="card">
                <h2 class="bank">ICIC</h2>
                <hr>
                <p style="color: black;">One of the reasons content marketing has become so popular in recent</p>
                <a href="#">Know More</a>
              </div>
              <div class="card">
                <h2 class="bank">State Bank</h2>
                <hr>
                <p style="color: black;">One of the reasons content marketing has become so popular in recent</p>
                <a href="#">Know More</a>
              </div>
              <div class="card">
                <h2 class="bank">KVB</h2>
                <hr>
                <p style="color: black;">One of the reasons content marketing has become so popular in recent</p>
                <a href="#">Know More</a>
              </div>
            </div>
            <p class="more-offers">View 8 more offers</p>
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>

<div class="contain">
  <div class="specifications">
    <h3>Specifications</h3>
    <hr class="horizontal-line">
    <h5>AirCondtioners Category</h5>
    <div class="container">
      <div class="section">
        <h5>Cruise 1.5 Ton</h5>
        <p>Split</p>
      </div>
      <div class="section">
        <h5>Havells-Lloyd </h5>
        <p>Dual Invertor</p>
      </div>
      <div class="section">
        <h5>LG 1 Ton 4 Star</h5>
        <p>freez Air</p>
      </div>
      <div class="section">
        <h5>Carrier 1.5 Ton</h5>
        <p>Night Timer</p>
      </div>
      <div class="section">
        <h5>Whirlpool 1.5 Ton</h5>
        <p>Slpeer Timer</p>
      </div>
    </div>
  </div>
  <div class="overview">
    <h3>Overview</h3>
    <hr class="horizontal-line">
    <div class="container">
      <div class="left-side">
        <ul>
          <li>When your home is boiling </li>
          <li>This split air conditioner</li>
          <li>The energy rating </li>
          <li>The energy an air </li>
          <li>The energy rating of an ai power</li>
        </ul>
      </div>
      <div >
        <p>This IFB AC has a ion and weighs And if you still rely more on conventional window air conditioners, here are some of the aror sure, this one easily makes the</p>
      </div>
    </div>    
  </div>
  <div class="overview">
    <h3>Product ShowCase</h3>
    <hr class="horizontal-line">
    <div class="container">
      <img src="assets/images/ac.jpg" alt="Product Image">
    </div>    
  </div>
  <div class="overview">
    <h3>simler Products</h3>
    <hr class="horizontal-line">
    <div class="container">
      <div class="card">
        <h2 class="bank" style=" margin-left: 350px;"><i class="fa fa-heart-o" aria-hidden="true"></i></h2>
        <img src="assets/images/ac.jpg" alt="Product Image">
        <div class="pricee">₹85,990</div>
      </div>
      <div class="card">
        <h2 class="bank" style=" margin-left: 350px;"><i class="fa fa-heart-o" aria-hidden="true"></i></h2>
        <img src="assets/images/ac.jpg" alt="Product Image">
        <div class="pricee">₹85,990</div>
      </div>
      <div class="card">
        <h2 class="bank" style=" margin-left: 350px;"><i class="fa fa-heart-o" aria-hidden="true"></i></h2>
        <img src="assets/images/ac.jpg" alt="Product Image">
        <div class="pricee">₹85,990</div>
      </div>
    </div>
  </div>
</div>



