<footer class="footer">
    <div class="footer-section">
      <h3 class="section-title">Contact with us</h3>
      <div class="input-container">
        <input type="email" placeholder="Enter your email address">
        <span class="arrow-icon"></span>
      </div>
      <br>
      <div class="social-links" style=" margin-right: 306px;">
        <a href="#" class="social-link instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="#" class="social-link facebook">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="#" class="social-link linkedin">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
      
    </div>
    <hr class="divider">
    <div class="footer-section">
      <h3 class="section-title">Stores</h3>
      
<table>
    <tr>
      <th>London</th>
      <th>4545454545654</th>
    </tr>
    <tr>
      <td>Tokyo</td>
      <th>1234567890</th>
    </tr>
    <tr>
      <td>Mumbai</td>
      <th>9876543210</th>
    </tr>
  </table>
      <div class="horizontal-line"></div>
      <h3 class="section-title" style=" margin-left: 300px;">Customer Care</h3>
      <p style=" margin-left: 320px;">7856324545</p>
    </div>
    <hr class="divider">
    <div class="footer-section">
      <h3 class="section-title">Products</h3>
      <div class="container">
        <div class="left-div">Television</div>
        <div class="right-div">Refrigerator</div>
      </div>
      <div class="container">
        <div class="left-div">Washing machine</div>
        <div class="right-div">Garbage disposal</div>
      </div>
      <div class="container">
        <div class="left-div">Microwave oven</div>
        <div class="right-div">Dishwasher</div>
      </div>
      <div class="container">
        <div class="left-div">Coffee maker</div>
        <div class="right-div">Vacuum cleaner</div>
      </div>
      <div class="container">
        <div class="left-div">Ceiling fan</div>
        <div class="right-div">Rice cooker</div>
      </div>
    </div>
  </footer>
  