<div class="card-top container-fluid ">
    <div class="container d-flex ">
        <div class="item">
            <a>
                <li class="nav-item ml-3 no-bullets"><a href="" class="nav-link">Home</a></li>
            </a>
        </div><span class="arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        <div class="item">
            <a>
                <li class="nav-item ml-3 no-bullets"><a href="" class="nav-link">Home Aplliances</a></li>
            </a>
        </div><span class="arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
        <div class="item">
            <a >
                <li class="nav-item ml-3 no-bullets"><a href="" class="nav-link">Air Conditioners</a></li>
            </a>
        </div>
    </div>
</div>

